.dashboard-main {
  display: flex;
  background-color: rgb(219, 236, 255);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  position: relative;
  .left-bar {
    display: none;
    background-color: #65829d;
    width: 256px;
    overflow-y: auto;
    flex-shrink: 0;
    z-index: 31;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    .left-bar-inside {
      width: 100%;
      height: 100%;
      padding: 16px 0;
      color: rgb(255, 255, 255);
      .logo-section {
        width: 100%;
        padding-left: 24px;
        display: flex;
        align-items: center;
        i {
          font-size: 20px;
          margin-right: 10px;
        }
        span {
          padding-top: 5px;
          .logo-name {
            font-size: 30px;
            font-family: "Poppins Bold";
          }
          .ecommerce {
            font-size: 12px;
          }
        }
      }
      .left-bar-menu {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        width: 100%;
        .relative {
          width: 100%;
          margin-bottom: 5px;
          padding-left: 24px;
          padding-top: 10px;
          padding-bottom: 10px;
          position: relative;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          &:hover {
            background-color: rgb(255, 255, 255);
            .link-a {
              color: #7dadd9;
              svg {
                fill: #7dadd9;
              }
            }
          }
          .link-a {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 16px;
            svg {
              width: 20px;
              height: 20px;
              fill: rgb(255, 255, 255);
            }
            span {
              font-size: 16px;
              letter-spacing: 1px;
              font-weight: 500;
            }
          }
        }
        .select-relative {
          background-color: rgb(255, 255, 255);
          .link-a {
            color: #7dadd9;
            svg {
              fill: #7dadd9;
            }
          }
        }
      }
    }
  }
  .show-bar {
    display: block;
  }
  .main-section {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    .dashboard-header {
      position: sticky;
      top: 0;
      padding: 16px 0;
      width: 100%;
      z-index: 30;
      background-color: #ffffff;
      .dashboard-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .burger-button {
          height: 18px;
          width: 18px;
          transition: 0.5s ease-in-out;
          display: flex;
          align-items: center;
          div {
            width: 100%;
            height: 100%;
            svg {
              fill: #65829d;
            }
          }
        }
        ul {
          position: relative;
          li {
            height: 32px;
            width: 32px;
            display: inline-block;
            position: relative;
            a {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              svg {
                width: 25px;
                height: 25px;
                fill: #65829d;
              }
            }
            .dropdown {
              display: none;
              position: absolute;
              top: 25px;
              right: 0;
              width: 200px;
              background-color: #ffffff;
              z-index: 32;
              margin-top: 10px;
              border-radius: 10px;
              border: 2px solid #7dadd9;
              overflow: hidden;
              li {
                display: flex;
                align-items: center;
                gap: 15px;
                width: 100%;
                padding: 10px;
                cursor: pointer;
                &:hover {
                  background-color: #7dadd9;
                  color: #ffffff;
                }
              }
            }
            .dropdown-show {
              display: block;
            }
          }
        }
      }
    }
    .main-section-body {
      width: 100%;
      .dashboard-container {
        .dashboardpart {
          width: 100%;
          display: none;
          .dashboardpart-inside {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .dashboard-overview {
              width: 100%;
              font-size: 18px;
              color: #121212;
              line-height: 28px;
              text-align: left;
              font-weight: 700;
              margin-top: 24px;
              margin-bottom: 24px;
            }
            .data-boxes {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 0.5%;
              margin-bottom: 32px;
              .main-box-container {
                flex: 0 0 19.5%;
                border-radius: 8px;
                overflow: hidden;
                align-items: center;
                display: flex;
                justify-content: center;
                border: 1px solid rgb(229 231 235);
                color: #fff;
                .box-inside {
                  padding: 24px;
                  display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  .box-icon {
                    width: 30px;
                    height: 30px;
                    margin-bottom: 5px;
                    svg {
                      width: 30px;
                      height: 30px;
                      fill: #fff;
                    }
                  }
                  .box-date {
                    margin-bottom: 12px;
                    font-weight: 500;
                    line-height: 24px;
                  }
                  .box-money {
                    font-weight: 700;
                    font-size: 24px;
                  }
                  .payment-type {
                    margin-top: 12px;
                    width: 100%;
                    height: 44px;
                    display: flex;
                    align-items: center;
                    .payment-method {
                      flex: 0 0 33.3333%;
                      text-align: center;
                      font-size: 12px;
                      line-height: 16px;
                      font-weight: 400;
                      display: flex;
                      flex-wrap: wrap;
                      span {
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
            .order-status-boxes {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 1%;
              .status-box {
                flex: 0 0 24.25%;
                border: 1px solid rgb(218, 218, 218);
                border-radius: 8px;
                overflow: hidden;
                display: flex;
                align-items: center;
                background-color: #ffffff;
                .box-inner {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  padding: 16px;
                  .svg-div {
                    padding: 12px;
                    height: 48px;
                    width: 48px;
                    margin-right: 16px;
                    border-radius: 50%;
                    text-align: center;
                    i {
                      font-size: 20px;
                    }
                  }
                  .data-div {
                    height: 48px;
                    h6 {
                      color: rgb(75 85 99);
                      font-weight: 600;
                      font-size: 14px;
                      line-height: 20px;
                      margin-bottom: 4px;
                      letter-spacing: -0.2px;
                    }
                    p {
                      color: rgb(75 85 99);
                      font-weight: 700;
                      font-size: 24px;
                      line-height: 24px;
                    }
                  }
                }
              }
            }
            .barcharts {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 1%;
              margin-top: 32px;
              margin-bottom: 32px;
              .chart-holder {
                flex: 0 0 49.5%;
                padding: 16px;
                background-color: rgb(255 255 255);
                border-radius: 8px;
                .chart-title {
                  margin-bottom: 16px;
                  color: rgb(31 41 55);
                  font-weight: 700;
                  letter-spacing: -0.2px;
                }
                .line-graph-type {
                  color: rgb(107 114 128);
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 37px;
                  margin-bottom: 16px;
                  border-bottom: 1px solid rgb(229 231 235);
                  ul {
                    margin-bottom: -1px;
                    li {
                      button {
                        padding: 8px;
                        margin-bottom: 2px;
                      }
                      .text-green {
                        color: rgb(5 150 105);
                      }
                      .text-orange {
                        color: rgb(249 115 22);
                      }
                    }
                  }
                }
                .line-graph-holder {
                  width: 100%;
                  height: 299px;
                  overflow: hidden;
                  img {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .pie-chart-holder {
                  width: 100%;
                  height: 370px;
                  overflow: hidden;
                  img {
                    width: 100%;
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
        .productspart {
          width: 100%;
          display: none;
          .productspart-inside {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .filter-main-container {
              background-color: rgb(255 255 255);
              border-radius: 8px;
              overflow: hidden;
              margin-bottom: 16px;
              width: 100%;
              .filter-inside {
                padding: 16px;
                .filter-form {
                  padding: 12px 0;
                  width: 100%;
                  gap: 1.3333%;
                  display: flex;
                  .search-input-div {
                    flex: 0 0 24%;
                    input {
                      width: 100%;
                      line-height: 38px;
                      border-radius: 6px;
                      font-size: 14px;
                      padding: 4px 12px;
                      background-color: rgb(243 244 246);
                      border: 1px solid rgb(229 231 235);
                      color: #000;
                      font-weight: 500;
                      &:focus {
                        background-color: rgb(255 255 255);
                      }
                    }
                  }
                  .brand-select-div {
                    flex: 0 0 24%;
                    select {
                      width: 100%;
                      height: 48px;
                      line-height: 38px;
                      border-radius: 6px;
                      font-size: 14px;
                      padding: 4px 8px;
                      background-color: rgb(243 244 246);
                      border: 1px solid rgb(229 231 235);
                      color: #000;
                      font-weight: 500;
                      &:focus {
                        background-color: rgb(255 255 255);
                      }
                    }
                  }
                  .different-select {
                    flex: 0 0 24%;
                    select {
                      width: 100%;
                      height: 48px;
                      line-height: 38px;
                      border-radius: 6px;
                      font-size: 14px;
                      padding: 4px 8px;
                      background-color: rgb(243 244 246);
                      border: 1px solid rgb(229 231 235);
                      color: #000;
                      font-weight: 500;
                      &:focus {
                        background-color: rgb(255 255 255);
                      }
                    }
                  }
                  .filter-reset-btn {
                    flex: 0 0 24%;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    gap: 5%;
                    padding-left: 1%;
                    .btn-div {
                      flex: 0 0 47%;
                      height: 100%;
                      button {
                        width: 100%;
                        height: 100%;
                        padding: 8px 16px;
                        border: 1px solid transparent;
                        line-height: 30px;
                        font-weight: 500;
                        transition: 0.15s;
                        font-size: 14px;
                        border-radius: 6px;
                      }
                      .button-green {
                        color: rgb(255 255 255);
                        background-color: rgb(5, 106, 33);
                        &:hover {
                          background-color: rgb(7, 147, 47);
                        }
                      }
                      .button-grey {
                        color: #000;
                        background-color: rgb(229, 230, 232);
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .brandspart {
          width: 100%;
          display: none;
          .brandspart-inside {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .brands-filter-main {
              background-color: rgb(255 255 255);
              margin-bottom: 16px;
              border-radius: 8px;
              overflow: hidden;
              width: 100%;
              .filter-container {
                width: 100%;
                padding: 16px;
                .filter-form {
                  padding: 12px 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 2%;
                  .input-holder {
                    flex: 0 0 49%;
                    .input-itself {
                      width: 100%;
                      display: block;
                      height: 48px;
                      padding: 4px 12px;
                      border: 1px solid rgb(229 231 235);
                      background-color: rgb(243 244 246);
                      border-radius: 8px;
                      font-size: 14px;
                      color: #121212;
                      &:focus {
                        background-color: rgb(255, 255, 255);
                      }
                    }
                  }
                  .button-holder {
                    flex: 0 0 49%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2%;
                    .button-div {
                      flex: 0 0 49%;
                      margin: 0 4px;
                      button {
                        width: 100%;
                        height: 48px;
                        padding: 8px 16px;
                        border: 1px solid transparent;
                        transition: 0.15s;
                        font-weight: 500;
                        font-size: 14px;
                        border-radius: 8px;
                        line-height: 20px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                      }
                      .filter-btn {
                        color: rgb(255 255 255);
                        background-color: rgb(4 120 87);
                        &:hover {
                          background-color: rgb(2, 92, 66);
                        }
                      }
                      .reset-btn {
                        color: rgb(75 85 99);
                        background-color: rgb(229 231 235);
                        &:hover {
                          background-color: rgb(200, 204, 210);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .orderspart {
          width: 100%;
          display: none;
          .orderspart-inside {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .form-and-buttons {
              width: 100%;
              margin-bottom: 20px;
              border-radius: 8px;
              overflow: hidden;
              background-color: rgb(255 255 255);
              .main-container {
                width: 100%;
                padding: 16px;
                form {
                  width: 100%;
                  .form-top {
                    width: 100%;
                    padding: 8px 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 1%;
                    .holder-div {
                      flex: 0 0 19.2%;
                      width: 100%;
                      input,
                      select {
                        width: 100%;
                        padding: 4px 12px;
                        font-size: 14px;
                        line-height: 20px;
                        height: 48px;
                        display: block;
                        color: #121212;
                        border-radius: 8px;
                        border: 1px solid rgb(229 231 235);
                        background-color: rgb(243 244 246);
                        &:focus {
                          background-color: rgb(255, 255, 255);
                        }
                      }
                    }
                  }
                  .form-bottom {
                    width: 100%;
                    padding: 8px 0;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 2%;
                    .holder-div {
                      flex: 0 0 32%;
                      width: 100%;
                      label {
                        color: rgb(31 41 55);
                        font-size: 14px;
                        line-height: 20px;
                        display: block;
                      }
                      input {
                        width: 100%;
                        height: 48px;
                        border-radius: 8px;
                        color: rgb(31 41 55);
                        font-size: 14px;
                        line-height: 20px;
                        padding: 4px 12px;
                        background-color: rgb(243 244 246);
                      }
                      .buttons-inside {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 2%;
                        button {
                          flex: 0 0 49%;
                          margin-top: 20px;
                          border-radius: 8px;
                          padding: 8px 16px;
                          border: 1px solid transparent;
                          text-align: center;
                          font-size: 14px;
                          line-height: 20px;
                          height: 48px;
                          transition: 0.15s;
                        }
                        .filter-btn {
                          color: rgb(255, 255, 255);
                          background-color: rgb(35, 106, 54);
                          &:hover {
                            background-color: rgb(50, 137, 73);
                          }
                        }
                        .reset-btn {
                          color: #121212;
                          background-color: rgb(229 231 235);
                          &:hover {
                            background-color: rgb(237, 237, 255);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .ourstaffpart {
          width: 100%;
          display: none;
          .ourstaffpart-inside {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .form-and-buttons {
              width: 100%;
              overflow: hidden;
              background-color: rgb(255 255 255);
              border-radius: 8px;
              .content-container {
                width: 100%;
                padding: 16px;
                form {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  gap: 2%;
                  padding: 12px 0;
                  .search-div {
                    flex: 0 0 28.2%;
                  }
                  .select-div {
                    flex: 0 0 21.5%;
                  }
                  .search-div,
                  .select-div {
                    width: 100%;
                    border-radius: 6px;
                    input,
                    select {
                      width: 100%;
                      width: 100%;
                      height: 48px;
                      padding: 4px 12px;
                      border: 1px solid rgb(229 231 235);
                      background-color: rgb(243 244 246);
                      border-radius: 6px;
                      display: block;
                      font-size: 14px;
                      color: #121212;
                      &:focus {
                        background-color: rgb(255, 255, 255);
                      }
                    }
                  }
                  .add-staff-section {
                    flex: 0 0 17.6%;
                    width: 100%;
                  }
                  .filter-reset-div {
                    flex: 0 0 26.7%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2%;
                    .button-holder {
                      flex: 0 0 49%;
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
        .section-show {
          display: block;
        }
      }
    }
  }
  .drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    overflow: visible;
    z-index: 999 !important;
    .drawer-mask {
      opacity: 0.3;
      height: 100%;
      background: #000;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
    .product-add-container,
    .product-update-container {
      width: 85%;
      height: 100%;
      position: absolute;
      right: 0;
      background: #fff;
      display: none;
      .container-content {
        height: 100%;
        z-index: 1;
        position: relative;
        overflow-y: auto;
        .product-add-header {
          display: flex;
          position: sticky;
          top: 0;
          width: 100%;
          flex-direction: column;
          border-bottom: 1px solid rgb(243 244 246);
          background-color: rgb(255, 255, 255);
          z-index: 10;
          .header-top {
            width: 100%;
            padding: 24px;
            display: flex;
            flex-direction: column;
            background-color: rgb(249 250 251);
            border-bottom: 1px solid rgb(243 244 246);
            color: #000;
            position: relative;
            .close-btn {
              position: absolute;
              right: 0;
              left: auto;
              margin-right: 24px;
              transition-duration: 0.15s;
              color: rgb(239 68 68);
              background-color: rgb(255 255 255);
              border-radius: 50%;
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
              z-index: 10;
              &:hover {
                background-color: rgb(253, 174, 174);
                color: #353535;
              }
            }
          }
          .header-bottom {
            width: 100%;
          }
        }
        .form-buttons {
          position: sticky;
          width: 100%;
          z-index: 10;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2%;
          padding: 32px 24px;
          border-top: 1px solid rgb(243 244 246);
          background-color: rgb(249 250 251);
          .button-div {
            flex: 0 0 49%;
            button {
              width: 100%;
              border: 1px solid transparent;
              padding: 8px 16px;
              font-weight: 500;
              line-height: 30px;
              font-size: 14px;
              text-align: center;
              border-radius: 8px;
              transition-duration: 0.15s;
            }
            .cancel-btn {
              border-color: rgb(229 231 235);
              background-color: rgb(255, 255, 255);
              color: rgb(239 68 68);
              &:hover {
                background-color: rgb(251, 228, 228);
              }
            }
            .add-btn {
              color: rgb(255, 255, 255);
              background-color: rgb(16 185 129);
              &:hover {
                background-color: rgb(10, 151, 104);
              }
            }
          }
        }
        .product-add-body {
          position: relative;
          overflow: auto;
          width: 100%;
          height: 100%;
          scrollbar-width: thin;
          scrollbar-color: transparent transparent;
          &::-webkit-scrollbar {
            width: 0.5rem;
          }
          &::-webkit-scrollbar-thumb {
            background-color: transparent;
          }
          .product-add-form {
            display: block;
            position: relative;
            .form-inputs {
              padding: 32px 24px;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              overflow: hidden;
              .product-title-name,
              .product-description,
              .product-images,
              .product-brand,
              .product-price,
              .product-sale-price,
              .product-quantity {
                width: 100%;
                margin-bottom: 24px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                label {
                  font-size: 14px;
                  color: rgb(31 41 55);
                  font-weight: 500;
                  line-height: 20px;
                  display: block;
                }
                .input-div {
                  max-width: 65%;
                  width: 100%;
                  input,
                  textarea {
                    border: 1px solid rgb(229 231 235);
                    padding: 4px 12px;
                    line-height: 20px;
                    background-color: rgb(243 244 246);
                    border-radius: 6px;
                    width: 100%;
                    height: 48px;
                    color: rgb(31 41 55);
                    display: block;
                    font-size: 14px;
                    overflow: visible;
                    &:focus {
                      background-color: rgb(255, 255, 255);
                    }
                  }
                  textarea {
                    padding: 12px !important;
                    height: 96px !important;
                    overflow: visible;
                    outline: none;
                  }
                }
              }
              .product-brand {
                .selector-container {
                  max-width: 65%;
                  width: 100%;
                  position: relative;
                  .search-wrapper {
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    min-height: 22px;
                    padding: 5px;
                    position: relative;
                    .search-box {
                      background: transparent;
                      border: none;
                      margin-top: 3px;
                      width: 100%;
                    }
                  }
                  .option-list {
                    background: #fff;
                    border-radius: 4px;
                    margin-top: 1px;
                    position: absolute;
                    width: 100%;
                    z-index: 2;
                    display: none;
                    color: #121212;
                    ul {
                      border: 1px solid #ccc;
                      border-radius: 4px;
                      display: block;
                      margin: 0;
                      max-height: 250px;
                      overflow-y: auto;
                      padding: 0;
                      li {
                        padding: 5px;
                      }
                    }
                  }
                  .list-open {
                    display: block;
                  }
                }
              }
              .product-images {
                .drag-image-holder {
                  max-width: 65%;
                  width: 100%;
                  text-align: center;
                  .images-drag-div {
                    width: 100%;
                    padding: 20px 24px 24px 24px;
                    border: 2px dashed rgb(209 213 219);
                    border-radius: 6px;
                    cursor: pointer;
                    input {
                      display: none;
                    }
                  }
                  aside {
                    .image-holder {
                      .relative {
                        img {
                          width: 96px;
                          max-height: 96px;
                          height: auto;
                          display: inline-flex;
                          vertical-align: middle;
                          margin: 8px;
                          padding: 8px;
                          border: 1px solid rgb(243 244 246);
                          border-radius: 6px;
                        }
                      }
                      p {
                        display: none;
                      }
                      &:first-child {
                        .relative {
                          p {
                            display: block;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .brand-add-container,
    .brand-update-container {
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      background: #fff;
      display: none;
      .container-content {
        height: 100%;
        z-index: 1;
        position: relative;
        overflow-y: auto;
        .product-add-header {
          display: flex;
          position: sticky;
          top: 0;
          width: 100%;
          flex-direction: column;
          border-bottom: 1px solid rgb(243 244 246);
          background-color: rgb(255, 255, 255);
          z-index: 10;
          .header-top {
            width: 100%;
            padding: 24px;
            display: flex;
            flex-direction: column;
            background-color: rgb(249 250 251);
            border-bottom: 1px solid rgb(243 244 246);
            color: #000;
            position: relative;
            .close-btn {
              position: absolute;
              right: 0;
              left: auto;
              margin-right: 24px;
              transition-duration: 0.15s;
              color: rgb(239 68 68);
              background-color: rgb(255 255 255);
              border-radius: 50%;
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
              z-index: 10;
              &:hover {
                background-color: rgb(253, 174, 174);
                color: #353535;
              }
            }
          }
          .header-bottom {
            width: 100%;
          }
        }
        .form-buttons {
          position: sticky;
          width: 100%;
          z-index: 10;
          right: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2%;
          padding: 32px 24px;
          border-top: 1px solid rgb(243 244 246);
          background-color: rgb(249 250 251);
          .button-div {
            flex: 0 0 49%;
            button {
              width: 100%;
              border: 1px solid transparent;
              padding: 8px 16px;
              font-weight: 500;
              line-height: 30px;
              font-size: 14px;
              text-align: center;
              border-radius: 8px;
              transition-duration: 0.15s;
            }
            .cancel-btn {
              border-color: rgb(229 231 235);
              background-color: rgb(255, 255, 255);
              color: rgb(239 68 68);
              &:hover {
                background-color: rgb(251, 228, 228);
              }
            }
            .add-btn {
              color: rgb(255, 255, 255);
              background-color: rgb(16 185 129);
              &:hover {
                background-color: rgb(10, 151, 104);
              }
            }
          }
        }
        .product-add-body {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 100%;
          .product-add-form {
            display: block;
            position: relative;
            .form-inputs {
              padding: 32px 24px;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              .product-title-name,
              .product-images {
                width: 100%;
                margin-bottom: 24px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                label {
                  font-size: 14px;
                  color: rgb(31 41 55);
                  font-weight: 500;
                  line-height: 20px;
                  display: block;
                }
                .input-div {
                  max-width: 65%;
                  width: 100%;
                  overflow: hidden;
                  input,
                  textarea {
                    border: 1px solid rgb(229 231 235);
                    padding: 4px 12px;
                    line-height: 20px;
                    background-color: rgb(243 244 246);
                    border-radius: 6px;
                    width: 100%;
                    height: 48px;
                    color: rgb(31 41 55);
                    display: block;
                    font-size: 14px;
                    overflow: visible;
                    &:focus {
                      background-color: rgb(255, 255, 255);
                    }
                  }
                  textarea {
                    padding: 12px !important;
                    height: 96px !important;
                    overflow: visible;
                    outline: none;
                  }
                }
              }
              .product-images {
                .drag-image-holder {
                  max-width: 65%;
                  width: 100%;
                  text-align: center;
                  .images-drag-div {
                    width: 100%;
                    padding: 20px 24px 24px 24px;
                    border: 2px dashed rgb(209 213 219);
                    border-radius: 6px;
                    cursor: pointer;
                    input {
                      width: 100%;
                      height: 100%;
                      display: none;
                    }
                  }
                  aside {
                    .image-holder {
                      .relative {
                        img {
                          width: 96px;
                          max-height: 96px;
                          height: auto;
                          display: inline-flex;
                          vertical-align: middle;
                          margin: 8px;
                          padding: 8px;
                          border: 1px solid rgb(243 244 246);
                          border-radius: 6px;
                        }
                      }
                      p {
                        display: none;
                      }
                      &:first-child {
                        .relative {
                          p {
                            display: block;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .staff-add-container,
    .staff-update-container {
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      background: #fff;
      display: none;
      .container-content {
        height: 100%;
        z-index: 1;
        position: relative;
        overflow-y: auto;
        .product-add-header {
          display: flex;
          position: sticky;
          top: 0;
          width: 100%;
          flex-direction: column;
          border-bottom: 1px solid rgb(243 244 246);
          background-color: rgb(255, 255, 255);
          z-index: 10;
          .header-top {
            width: 100%;
            padding: 24px;
            display: flex;
            flex-direction: column;
            background-color: rgb(249 250 251);
            border-bottom: 1px solid rgb(243 244 246);
            color: #000;
            position: relative;
            .close-btn {
              position: absolute;
              right: 0;
              left: auto;
              margin-right: 24px;
              transition-duration: 0.15s;
              color: rgb(239 68 68);
              background-color: rgb(255 255 255);
              border-radius: 50%;
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
              z-index: 10;
              &:hover {
                background-color: rgb(253, 174, 174);
                color: #353535;
              }
            }
          }
          .header-bottom {
            width: 100%;
          }
        }
        .product-add-body {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 100%;
          .product-add-form {
            display: block;
            position: relative;
            width: 100%;
            height: screen;
            .form-inputs {
              padding: 32px 24px;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              .product-title-name,
              .product-images {
                width: 100%;
                margin-bottom: 24px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                label {
                  font-size: 14px;
                  color: rgb(31 41 55);
                  font-weight: 500;
                  line-height: 20px;
                  display: block;
                }
                .input-div {
                  max-width: 65%;
                  width: 100%;
                  input,
                  textarea {
                    border: 1px solid rgb(229 231 235);
                    padding: 4px 12px;
                    line-height: 20px;
                    background-color: rgb(243 244 246);
                    border-radius: 6px;
                    width: 100%;
                    height: 48px;
                    color: rgb(31 41 55);
                    display: block;
                    font-size: 14px;
                    overflow: visible;
                    &:focus {
                      background-color: rgb(255, 255, 255);
                    }
                  }
                  textarea {
                    padding: 12px !important;
                    height: 96px !important;
                    overflow: visible;
                    outline: none;
                  }
                }
              }
              .product-images {
                .drag-image-holder {
                  max-width: 65%;
                  width: 100%;
                  text-align: center;
                  .images-drag-div {
                    width: 100%;
                    padding: 20px 24px 24px 24px;
                    border: 2px dashed rgb(209 213 219);
                    border-radius: 6px;
                    cursor: pointer;
                    input {
                      display: none;
                    }
                  }
                  aside {
                    .image-holder {
                      .relative {
                        img {
                          width: 96px;
                          max-height: 96px;
                          height: auto;
                          display: inline-flex;
                          vertical-align: middle;
                          margin: 8px;
                          padding: 8px;
                          border: 1px solid rgb(243 244 246);
                          border-radius: 6px;
                        }
                      }
                      p {
                        display: none;
                      }
                      &:first-child {
                        .relative {
                          p {
                            display: block;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .form-buttons {
              position: sticky;
              width: 100%;
              z-index: 10;
              right: 0;
              bottom: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 2%;
              padding: 32px 24px;
              border-top: 1px solid rgb(243 244 246);
              background-color: rgb(249 250 251);
              .button-div {
                flex: 0 0 49%;
                button {
                  width: 100%;
                  border: 1px solid transparent;
                  padding: 8px 16px;
                  font-weight: 500;
                  line-height: 30px;
                  font-size: 14px;
                  text-align: center;
                  border-radius: 8px;
                  transition-duration: 0.15s;
                }
                .cancel-btn {
                  border-color: rgb(229 231 235);
                  background-color: rgb(255, 255, 255);
                  color: rgb(239 68 68);
                  &:hover {
                    background-color: rgb(251, 228, 228);
                  }
                }
                .add-btn {
                  color: rgb(255, 255, 255);
                  background-color: rgb(16 185 129);
                  &:hover {
                    background-color: rgb(10, 151, 104);
                  }
                }
              }
            }
          }
        }
      }
    }
    .module-show {
      display: block;
    }
  }
  .drawer-show {
    width: 100%;
  }
  .delete-wrapper {
    width: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -100%;
    left: -100%;
    z-index: 40;
    .delete-container {
      opacity: 1;
      max-width: 576px;
      width: 100%;
      border-radius: 8px;
      padding: 16px 24px;
      background-color: rgb(255 255 255);
      overflow: hidden;
      .container-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #121212;
        padding: 24px 32px 16px 32px;
        text-align: center;
        margin-bottom: 24px;
      }
    }
  }
  .delete-shower {
    width: 100%;
    top: 0;
    left: 0;
  }
}
