@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../scss/reset";
@import "../scss/fonts";
@import "../scss/index";
@import "../scss/quickmenu";
@import "../scss/header";
@import "../scss/footer";
@import "../scss/home";
@import "../scss/productdetail";
@import "../scss/login";
@import "../scss/register";
@import "../scss/cart";
@import "../scss/checkout";
@import "../scss/shop";
@import "../scss/dashboard";
@import "../scss/commondashboard";
